<!doctype html>
<html>
  <head>
    <title>jQTouch &beta;</title>
    <style type="text/css" media="screen">@import "css/jqtouch.min.css";</style>
    <style type="text/css" media="screen">@import "themes/apple/theme.min.css";</style>
    <script src="js/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jqtouch.min.js" type="application/x-javascript" charset="utf-8"></script>
    
    <script type="text/javascript" charset="utf-8">
      $.jQTouch({
        icon: 'jqtouch.png',
        statusBar: 'black-translucent',
      }); 
    </script>
  </head>
  <body>
    <ul>
	  <% @lines.each do |line| %>
	    <%= "<li>#{line.line}</li>" unless line.isAnnotation %>
	  <% end %>
	</ul>
  </body>
</html>
